/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*@import url('assets/css/Media.css');
@import url('assets/css/My.css');
@import url('assets/css/style.css');*/

/*@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";*/
/*@import url('assets/css/materialdesignicons.min.css');*/

.ng-hide {
  display:none;
}

.vErrorRed {
  border-color : #a94442 !important;
}

/*.row1, .row2 {
  display: none;
}



.select-file {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.att {
  width: 50px;
  float: left;
  height: 39px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 2px;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
}

.errormsgbox {
  text-align: CENTER;
  background-color: #10c877;
  margin-top: 100px;
  color: #fff;
  padding: 20px;
}

.srch_btn {
  position: absolute;
  top: 3px;
  background-color: transparent;
  border: none;
  right: 10px;
  font-size: 18px;
  color: #b7b7b7;
}



@media (max-width:767px) and (min-width:320px) {

  .file-attachted-name {
    -webkit-line-clamp: 1;
    max-height: 30px;
  }
}*/

