<div class="compose-box" id="compose">
  <div class="mail-view col-md-9 col-lg-10 bg-white pd_left-right10 newmailview">
    <div class="content_block">
      <div class="com-block compose_header">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h2_header send_campaign">Compose Mail</h2>
            <div class="btn-group snt-mail pull-right" style="display: none;">
              <button type="button" class="btn btn-dark btn-sm mdi mdi-keyboard-backspace"></button>
              <button type="button" class="btn btn-dark btn-sm"><a href="Javascript:;"></a>Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="com-block grid-body">
        <div class="com-block">
          <div class="com-block compose-inside">
            <div class="com-block form-group">
              <div class="com-block mail-input-block">
                <div class="input_row">
                  <div class="mail_receipent">
                    <span>To :</span>
                  </div>
                  <div class="com-block">
                    <input type="text" id="toemail" class="input-mail" [(ngModel)]="ComposeMailData.To" placeholder="Add Recipients" />
                  </div>
                  <div class="mail_rec">
                    <span><a href="javascript:;" class="cc" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Cc Recipients" (click)="CcButtonClick();" >Cc</a></span> <span><a href="javascript:;" class="bcc" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Bcc Recipients" (click)="BccButtonClick();">Bcc</a></span>
                  </div>
                </div>
                <div class="input_row row1" [ngStyle]="{'display':CcInputBox}">
                  <div class="mail_receipent">
                    <span>Cc :</span>
                  </div>
                  <div class="com-block bdr-btm">
                    <input type="text" id="cc-input-tags" class="input-mail" [(ngModel)]="ComposeMailData.Cc" placeholder="Add Recipients" />
                  </div>
                </div>
                <div class="input_row row2" [ngStyle]="{'display':BccInputBox}">
                  <div class="mail_receipent">
                    <span>Bcc :</span>
                  </div>
                  <div class="com-block bdr-btm">
                    <input type="text" id="bcc-input-tags" class="input-mail" [(ngModel)]="ComposeMailData.Bcc" placeholder="Add Recipients" />
                  </div>
                </div>
              </div>
            </div>

            <div class="com-block form-group">
              <div class="input_row">
                <div class="mail_receipent">
                  <span>Subject :</span>
                </div>
                <input type="text" class="input-mail subject-input" maxlength="150" [(ngModel)]="ComposeMailData.Subject" placeholder="Add subject here" id="subject" />
              </div>
            </div>

            <div class="com-block form-group">
              <angular-editor  [(ngModel)]="ComposeMailData.Body" [config]="config"></angular-editor>
              <!--<textarea style="width:100%;" [(ngModel)]="ComposeMailData.Body"></textarea>-->
            </div>
            <div class="progress upload-br" id="prodiv"   [ngStyle]="{'display':ProgressBarStrip}">
              <div class="progress-bar bg-danger" id="progress" role="progressbar" [style.width]="completionPercent + '%'" aria-valuemin="0" aria-valuemax="100">{{completionPercent}} %</div>
            </div>
            <div class="file-attachted" id="attach">
              <div class="img-thumbnail img-attachment" *ngFor="let itemeach of empList">
              <img src="../assets/images/{{itemeach.icon}}" />
              <span class="file-attachted-name">{{itemeach.filename}}</span>
              <span class="file-attachted-size"></span>
              <div class="doc_downlod_hovr">
                <i class="mdi mdi-close" (click)='delpic(itemeach)'></i>
                </div>
              </div>
            </div>
            <div class="com-block form-group">

              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <span class="btn btn-secondary mobpd4">
                  <input type="file" class="select-file" multiple="" id="File1" [(ngModel)]="ComposeMailData.Attachment"  (change)="onFileChanged($event)"/><i class="mdi mdi-paperclip"></i>Attachment
                </span>

              </div>

            </div>

            <div class="com-block form-group" style="display: none">
              <div class="sender-block">
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-md-4 col-sm-5 col-xs-4 col-ss-12">
                        <h4 class="form-text-title text-right title-mail_left">Sender Name :</h4>
                      </div>
                      <div class="col-md-8 col-sm-7 col-xs-6 col-ss-12">
                        <input type="text" class="form-control input-txtbox" placeholder="Enter Sender Name" maxlength="50" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-md-4 col-sm-5 col-xs-4 col-ss-12">
                        <h4 class="form-text-title text-right title-mail_left">Sender Email :</h4>
                      </div>
                      <div class="col-md-8 col-sm-7 col-xs-6 col-ss-12">
                        <input type="text" class="form-control input-txtbox" placeholder="Enter Sender Email" maxlength="50" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-md-4 col-sm-5 col-xs-4 col-ss-12">
                        <h4 class="form-text-title text-right title-mail_left">Reply Email :</h4>
                      </div>
                      <div class="col-md-8 col-sm-7 col-xs-6 col-ss-12">
                        <input type="text" class="form-control input-txtbox" placeholder="Enter Reply Email" maxlength="50" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="com-block form-group text-center">
              <div class="btn-group snt-mail">
                <!--<button type="button" class="btn btn-success btn-sm mobpd4"></button>-->
                <button type="button" class="btn btn-success btn-sm mobpd4" (click)="finalSendBtn();" ><i class="mdi mdi-send"></i>Send</button>
              </div>
              <div class="btn-group btn-trash-mail">
                <!--<button type="button" class="btn btn-dark btn-sm mobpd4"></button>-->
                <button type="button" class="btn btn-dark btn-sm mobpd4" (click)="finalDraftBtn();"><i class="mdi mdi-file-outline"></i>Draft</button>
              </div>
              <div class="btn-group snt-mail" >
                <!--<button type="button" class="btn btn-info btn-sm  mobpd4"></button>-->
                <button type="button" class="btn btn-info btn-sm mobpd4" (click)="finalDiscardBtn();"><i class="mdi mdi-undo-variant"></i>Discard</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
