input,
textarea,
select {
  font-size: 100%;
}

.box_loader {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(4, 4, 4, 0.63);
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.90);
  -webkit-background-color: rgba(255, 255, 255, 0.90);
  -moz-background-color: rgba(255, 255, 255, 0.90);
}

.msg {
  color: #757575;
  font: 20px/20px Arial, sans-serif;
  letter-spacing: .2px;
  text-align: center;
}

#nlpt {
  animation: a-s .5s 2.5s 1 forwards;
  background-color: #ddd;
  height: 4px;
  margin: 56px auto 20px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 300px;
}

  #nlpt::before {
    animation: a-lb 20s 3s linear forwards;
    -moz-animation: a-lb 20s 3s linear forwards;
    -webkit-animation: a-lb 20s 3s linear forwards;
    background-color: #10c877;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    width: 100%;
  }

@keyframes a-lb {
  0% {
    transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
  }

  5% {
    transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
  }

  15% {
    transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
  }

  25% {
    transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
  }

  30% {
    transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }

  45% {
    transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }

  50% {
    transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
  }

  65% {
    transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
  }

  70% {
    transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
  }

  95% {
    transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
  }

  100% {
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
  }
}

@keyframes a-s {
  100% {
    opacity: 1;
  }
}

@keyframes a-h {
  100% {
    opacity: 0;
  }
}

@keyframes a-nt {
  100% {
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
}

@keyframes a-e {
  43% {
    animation-timing-function: cubic-bezier(.8, 0, .2, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .2, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .2, 1);
    transform: scale(.75);
    -moz-transform: scale(.75);
    -webkit-transform: scale(.75);
  }

  60% {
    animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
  }

  77% {
    animation-timing-function: cubic-bezier(.16, 0, .2, 1);
    -moz-animation-timing-function: cubic-bezier(.16, 0, .2, 1);
    -webkit-animation-timing-function: cubic-bezier(.16, 0, .2, 1);
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  89% {
    animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }

  100% {
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
}

@keyframes a-ef {
  24% {
    animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    transform: scaleY(.42);
    -moz-transform: scaleY(.42);
    -webkit-transform: scaleY(.42);
  }

  52% {
    animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    -moz-animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    -webkit-animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    transform: scaleY(.98);
    -moz-transform: scaleY(.98);
    -webkit-transform: scaleY(.98);
  }

  83% {
    animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    transform: scaleY(.96);
    -moz-transform: scaleY(.96);
    -webkit-transform: scaleY(.96);
  }

  100% {
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
}

@keyframes a-efs {
  24% {
    animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    opacity: .3;
  }

  52% {
    animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    -moz-animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    -webkit-animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    opacity: .03;
  }

  83% {
    animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    opacity: .05;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a-es {
  24% {
    animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .6, 1);
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
  }

  52% {
    animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    -moz-animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    -webkit-animation-timing-function: cubic-bezier(.63, 0, .2, 1);
    transform: rotate(-42.5deg);
    -moz-transform: rotate(-42.5deg);
    -webkit-transform: rotate(-42.5deg);
  }

  83% {
    animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    -moz-animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .84, 1);
    transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -webkit-transform: rotate(-42deg);
  }

  100% {
    transform: rotate(-43deg);
    -moz-transform: rotate(-43deg);
    -webkit-transform: rotate(-43deg);
  }
}

.invfr {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border: 0;
}

.msgb {
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  padding: 20px;
}

/*pervious loader*/


/*.loader {
    text-align: center;
    position: absolute;
    width: 100px;
    left: 50%;
    margin-top: -100px;
    top: 50%;
    margin-left: -50px;
}*/

/*.loader span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 50px auto;
        background: #ffffff;
        border-radius: 50px;
        -webkit-animation: loader 0.9s infinite alternate;
        -moz-animation: loader 0.9s infinite alternate;
    }

        .loader span:nth-of-type(2) {
            -webkit-animation-delay: 0.3s;
            -moz-animation-delay: 0.3s;
        }

        .loader span:nth-of-type(3) {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
        }

@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}

@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}

.layered-paper {
    background: #eee;
    text-align: center;
    padding: 3rem;
    font-size: 5rem;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 10px 0 -5px #eee, 
    0 10px 1px -4px rgba(0,0,0,0.15), 
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);}*/
/*end*/
