<div class="mail-sidebar d-lg-block col-md-3 col-lg-2 pt-3 bg-lightgry mob-padding0 mob-padding0" id="slide-menu">
  <div class="menu-bar">
    <ul class="menu-items menu_list_option">
      <li class="compose mb-3">
        <a href="javascript:;" routerLink="composemail" class="btn btn-dark btn-block" style="width: 100%;">Compose</a>
      </li>

      <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a href="javascript:;"><i class="mdi mdi-email-outline"></i>Inbox</a><span class="badge badge-pill badge-success" id="inboxcount">{{_mailcounts.inboxmailcount}}</span></li>
      <li routerLink="sendmail" routerLinkActive="active"><a href="javascript:;"><i class="mdi mdi-share"></i>Sent</a><span class="badge badge-pill badge-primary" id="sendcount">{{ _mailcounts.sentmailcount }}</span></li>
      <li routerLink="draftmail" routerLinkActive="active"><a href="javascript:;"><i class="mdi mdi-file-outline"></i>Draft</a><span id="draftcount" class="badge badge-pill badge-warning">{{ _mailcounts.draftmailcount }}</span></li>
      <li routerLink="outboxmail" routerLinkActive="active"><a href="javascript:;"><i class="mdi mdi-upload"></i>Outbox</a><span class="badge badge-pill badge-info" id="outboxcount">{{ _mailcounts.outboxmailcount }}</span></li>
       <li routerLink="starredmail" routerLinkActive="active"><a href="javascript:;"><i class="mdi mdi-star-outline"></i>Starred</a><span class="badge badge-pill badge-danger" id="starredcount" >{{ _mailcounts.starredmailcount }}</span></li>
      <li routerLink="trashmail" routerLinkActive="active"><a href="javascript:;"><i class="mdi mdi-delete"></i>Trash</a><span class="badge badge-pill badge-dark" id="trashcount">{{ _mailcounts.trashmailcount }}</span></li>
    </ul>
  </div>
</div>
