<div class="top-bar head_topbar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-6 d-md-block">
        <h2 class="mrn-btm0" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Mail Box</h2>
      </div>
      <div class="col-md-6 col-6 d-md-block">
        <i class="mdi mdi-menu mobmenubar" id="menu-bar" (click)="mob_menu_btn()"></i>
        <div class="configure_mail">
          <a (click)="openModal()"><span class="fa fa-gear"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- START THIS IS CONFIGURATION LIGHTBOX -->
<div class="modal backdrop modelfade" tabindex="-1" role="dialog" [ngStyle]="{'display':signupdisplay}">
  <div class="modal-dialog modal-md">
    <div class="modal-content bg_white">

      <!-- Modal Header -->
      <div class="modal-header configure-mail-header">
        <h4 class="modal-title">Configure Email</h4>
        <button type="button" class="close" (click)="closesignup()">&times;</button>
      </div>

      <!-- Modal body -->

      <div class="modal-body mail-configure-body">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title" data-toggle="tooltip" data-placement="top" title="Specify Protocol">Access With : </p>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <select class="form-control custom-select" (change)="onAccessChange($event.target.value)" [ngClass]="{'vErrorRed': error_AccessWith === 'block'}" [(ngModel)]="configureData.AccessWith">
                  <option value="select">Select</option>
                  <option value="pop">POP</option>
                  <option value="imap">IMAP</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title" data-toggle="tooltip" data-placement="top" title="Outgoing Email Server">SMTP Host : </p>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" (focusout)="focusOutFunction()" [ngClass]="{'vErrorRed': error_SmtpHost === 'block'}" [(ngModel)]="configureData.SmtpHost" placeholder="SMTP Host" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title">SMTP Port : </p>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" (focusout)="focusOutFunction()" [ngClass]="{'vErrorRed': error_SmtpPort === 'block'}" [(ngModel)]="configureData.SmtpPort" placeholder="SMTP Port" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title" data-toggle="tooltip" data-placement="top" title="Incoming Email Server">Incoming Host : </p>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" (focusout)="focusOutFunction()" [ngClass]="{'vErrorRed': error_IncomingHost === 'block'}" [(ngModel)]="configureData.IncomingHost" placeholder="Incoming Host" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title" data-toggle="tooltip" data-placement="top" title="Incoming Email Port">Incoming Port : </p>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" (focusout)="focusOutFunction()" [ngClass]="{'vErrorRed': error_IncomingPort === 'block'}" [(ngModel)]="configureData.IncomingPort" placeholder="Incoming Port" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title">Email Id : </p>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" (focusout)="focusOutFunction()" [ngClass]="{'vErrorRed': error_EmailID === 'block'}" [(ngModel)]="configureData.EmailID" placeholder="Username" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <p class="configure-title">Password : </p>
            </div>
            <div class="col-sm-6">
              <input type="password" class="form-control" (focusout)="focusOutFunction()" [ngClass]="{'vErrorRed': error_Password === 'block'}" [(ngModel)]="configureData.Password" placeholder="Password" />
            </div>
          </div>
        </div>

        <div class="form-group modal_wd100block">
          <div class="row">
            <div class="col-sm-4 div_left">
              <p class="configure-title">Include Signature : </p>
            </div>
            <div class="col-sm-6 div_left">
              <div class="checkbox checkbox-prop chckmodl signt_sliddown">
                <label>
                  <input type="checkbox" [(ngModel)]="theCheckbox" class="includesig" value="" (change)="DisplaySignature($event)">
                  <span class="cr"><i class="cr-icon mdi mdi-check"></i></span>
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="form-group modal_wd100block" id="signaturedtrbox" *ngIf="showsignature">
          <div class="row">
            <div class="sig_box">
              <angular-editor [(ngModel)]="configureData.Signature" [config]="config"></angular-editor>
            </div>
            <div class="progress upload-br" id="prodiv" [ngStyle]="{'display':ProgressBarStrip}">
              <div class="progress-bar bg-danger" id="progress" role="progressbar" [style.width]="completionPercent + '%'" aria-valuemin="0" aria-valuemax="100">{{completionPercent}} %</div>
            </div>
            <button type="button" class="btn btn-dark btn-uploadimg">
              <i class="mdi mdi-folder-image"></i>
              <input type="file" id="sigpic" (change)="onSignatureChanged($event)" />
              <span>Upload Image</span>
            </button>
            <div class="send_confgoptn">
              <div class="checkbox checkbox-prop chckmodl">
                <label>
                  <input type="checkbox" [(ngModel)]="configureData.Reply" name="sigtype" class="rply" value="reply">
                  <span class="cr"><i class="cr-icon mdi mdi-check"></i></span>
                </label>
                Reply
              </div>
              <div class="checkbox checkbox-prop chckmodl">
                <label>
                  <input type="checkbox" name="sigtype" class="rplyall" value="replyall" [(ngModel)]="configureData.ReplyAll">
                  <span class="cr"><i class="cr-icon mdi mdi-check"></i></span>
                </label>
                Reply All
              </div>
              <div class="checkbox checkbox-prop chckmodl">
                <label>
                  <input type="checkbox" name="sigtype" class="frward" value="forward" [(ngModel)]="configureData.Forward">
                  <span class="cr"><i class="cr-icon mdi mdi-check"></i></span>
                </label>
                Forward
              </div>
              <div class="checkbox checkbox-prop chckmodl">
                <label>
                  <input type="checkbox" name="sigtype" class="comp" value="compose" [(ngModel)]="configureData.Compose">
                  <span class="cr"><i class="cr-icon mdi mdi-check"></i></span>
                </label>
                Compose
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- Modal footer -->
      <div class="modal-footer mail-configure-footer">
        <button type="button" class="btn btn-success btn-sm" id="SubBtn" (click)="CofigureSubmit()">Save</button>
        <button type="button" class="btn btn-dark btn-sm" id="resetbtn" (click)="ResetSubmit()">Reset</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="closesignup()">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- END -->
