<div class="mail-view col-md-9 col-lg-10 bg-white pd_left-right10 newmailview">
  <div class="row">

    <div class="inbox-div col-md-12 col-lg-12 " id="inbox">

      <div class="row">

        <div class="mail-list-container inbox_mail_listcontainer col-lg-4 col-md-5 pt-4 pb-4 border-right bg-white mob-paddingrt_left0 mob_contnrinboxlist">
          <div class="border-bottom mb-3 px-2">
            <div class="form-group">
              <h3 class="mob_visble" id="headtag">Sent Mail</h3>
              <div class="searchbox" id="SearchDivInbox">
                <input class="form-control inpsearch_inbox w-100" type="search" placeholder="Search mail" id="txtSearchmail" [(ngModel)]="search" (keypress)="eventHandler($event)" />
                <button type="button" class="srch_btn" ng-click="" id="SearchMailBtn" (click)="GetTrashEachRecords(1)"><span class="fa fa-search search_icon"></span></button>

              </div>
              <div id="BulkDeleteSent" class="deletall_inboxcheck">
                <div class="form-check check_inptblock chk_inbox" style="display:none;">
                  <div class="checkbox" data-toggle="tooltip" data-placement="top" title="" data-original-title="Select All">
                    <label>
                      <input type="checkbox" name="all" (change)="CheckboxHeadSent($event)"><span class="cr"><i class="cr-icon mdi mdi-check"></i></span>
                    </label>
                  </div>
                </div>
                <button type="button" (click)="SentBulkDelete()" class="btn btn-sm btn-danger btn_selcalldelte" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><span class="mdi mdi-delete"></span></button>
                <button type="button" (click)="TrashBulkRestore()" class="btn btn-sm btn-danger btn_selcalldelte" data-toggle="tooltip" data-placement="top" title="" data-original-title="Restore"><span class="mdi mdi-restore"></span></button>
              </div>

            </div>
          </div>
          <div class="inbox_mail_list" id="inboxlist">


            <div class='nwinb_read' *ngFor="let item of apps$" id='first'>

              <div class='nwinb_chkbox'>

                <div class='cbdiv'></div><div class='thisemailbody' style='display:none;'>{{item.body}}</div>
                <div class='mysub' style='display:none;'>{{item.subject}}</div>
                <div class='uid' style='display:none;'>{{item.id}} </div>
                <div class='maildate' style='display:none;'>{{item.date }}</div>
                <div class='ccmails' style='display:none;'>{{item.cc}}</div>
                <div class='bccmails' style='display:none;'>{{ item.bcc}}</div>
                <div class='mytos' style='display:none;'>{{ item.to }}</div>
              </div>
              <div class='file-attachted myattach' style='display:none;'>


              </div>
              <div class='mail-list'>

                <div class='form-check check_inptblock chk_inbox'><div class='checkbox'><label><input type='checkbox' (change)="CheckboxChildChange($event)" name="childCheckbox" value="{{item.id }}" /><span class='cr'><i class='cr-icon mdi mdi-check'></i></span></label></div></div>

                <div class='content' (click)='GetTrashEmaildetails(item);'>

                  <p class='sender-name'>{{item.subject}}</p>
                  <p class='message_text nwinb_mailcont' [innerHTML]="item.to"></p>

                </div>


              </div>
            </div>

          </div>
          <div class="paginationbox" id="paginationdiv">


            <nav aria-label="Page navigation example pull-right">


              <ul class="pagination justify-content-end" id="DivPager">


                <!--<li class="page-item">
                  <a class="page-link" href="javascript:;" (click)="GoToPrevSegment();">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>-->

                <li class="page-item" [ngClass]="{'disabled': (PageClick == 1 || skipnum == 0)}">
                  <a class="page-link" (click)="prevPage()" href='javascript:;'>
                    <span aria-hidden="true">&lsaquo;</span>
                  </a>
                </li>


                <li class='currentuse page-item' *ngFor="let item of skiparray" data-value="{{ item }}" [ngClass]="{'active': item === PageClick, 'disabled': loading}">
                  <a class='page-link' href='javascript:;' (click)='GetTrashEachRecords(item);'>{{item}}<span class='sr-only'></span></a>
                </li>

                <li class="page-item" [ngClass]="{'disabled': (PageClick == skipnum || skipnum == 0)}">
                  <a class="page-link" (click)="nextPage()" href='javascript:;'>
                    <span aria-hidden="true">&rsaquo;</span>
                  </a>
                </li>
                <!--<li class="page-item">
                  <a class="page-link" href="javascript:;" (click)="GoToNextSegment();">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>-->

              </ul>


            </nav>
            <!--<ng-pagination [totalItems]="skipnum" [(ngModel)]="currentPage" [maxSize]="maxSize" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"
                 previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First" last-text="Last">-->
          </div>
        </div>

        <div class="mail-view  col-md-7 col-lg-8 bg-white pd_left-right10 mob-inbox mob_contnr-inbox div_left" id="detail">
          <div class="row">
            <div class="col-md-12 mb-4 mt-4 tab_tp_btm10">
              <button type="button" class="btn btn-sm btn-secondary btn-backmob" (click)="closedetail()"><i class="mdi mdi-arrow-left"></i>Back</button>
              <div class="btn-toolbar">
                <div class="btn-group tab-mrgnbtm5 div_left">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="Replyemail()"><i class="mdi mdi-reply text-primary"></i>Reply</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="ReplyAllemail()"><i class="mdi mdi-reply-all text-primary"></i>Reply All</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="Forwardemail()"><i class="mdi mdi-share text-primary"></i>Forward</button>
                </div>
                <div class="btn-group tab-mrgnbtm5 div_left">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="Deletemail()"><i class="mdi mdi-delete text-primary"></i>Delete</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="Restoretrashemail()"><i class="mdi mdi-restore text-primary"></i>Restore</button>
                </div>
                <div class="inf_inbx div_left">
                  <i class="mdi mdi-label"></i>
                  <span>Trash</span>
                </div>
              </div>
            </div>
          </div>
          <div class="message-body">
            <div class="msgs_container inboxscroll">
              <div class="sender-details">
                <img class="img-sm rounded-circle mr-3" alt="" src="../assets/images/userprofile.png"><div class="details">
                  <p class="msg-date">{{MailDate}}</p>
                  <p class="msg-subject fw600 inboxsub" innerHTML="{{MailSub}}"></p>
                  <br>
                  <p class="sender-email fw600">
                    <a href="#" class="inboxfrom" innerHTML="{{MailFrom}}"></a>
                    <a style="display: none" href="#" class="inboxfromaddress">sourabhkhatri195@gmail.com</a>
                    <a style="display: none" href="#" class="inboxccmails">shefalitiwari1995@gmail.com,shefali061994@gmail.com,</a>
                    <a style="display: none" href="#" class="inboxbccmails"></a>
                    <a style="display: none" href="#" class="inboxreplyallmails">sourabhkhatri195@gmail.comSOURABHKHATRI01@gmail.com,shefalitiwari1995@gmail.com,shefali061994@gmail.com,</a>
                    &nbsp;
                  </p>
                  <div class="dropdown drp_icon_Cc">
                    <i class="dropdown-toggle" href="#" role="button" (click)="dropdownMenuLink()" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>


                    <div class="dropdown-menu dropmenu_ccbox" aria-labelledby="dropdownMenuLink" [ngStyle]="{'display':recipientdisplay}">
                      <a class="dropdown-item " href="javascript:;" [ngStyle]="{'display':recipient_from_div}">
                        <span class="col-sm-2 col-2 mail_cc_option_left">From :</span>
                        <p class="col-sm-10 col-10 mail_cc_option_right">
                          <span *ngFor="let each_item of from_emails_array"><span class="frm_email">{{each_item}}</span><br /></span>
                        </p>
                      </a>
                      <a class="dropdown-item" href="javascript:;" [ngStyle]="{'display':recipient_to_div}">
                        <span class="col-sm-2 col-2 mail_cc_option_left">To :</span>
                        <p class="col-sm-10 col-10 mail_cc_option_right">
                          <span *ngFor="let each_item of to_emails_array"><span class="frm_email">{{each_item}}</span><br /></span>
                        </p>
                      </a>
                      <a class="dropdown-item" href="javascript:;" [ngStyle]="{'display':recipient_cc_div}">
                        <span class="col-sm-2 col-2 mail_cc_option_left">Cc :</span>
                        <p class="col-sm-10 col-10 mail_cc_option_right">
                          <span *ngFor="let each_item of cc_emails_array"><span class="frm_email">{{each_item}}</span><br /></span>
                        </p>
                      </a>
                      <a class="dropdown-item" href="javascript:;" [ngStyle]="{'display':recipient_bcc_div}">
                        <span class="col-sm-2 col-2 mail_cc_option_left">Bcc :</span>
                        <p class="col-sm-10 col-10 mail_cc_option_right">
                          <span *ngFor="let each_item of bcc_emails_array"><span class="frm_email">{{each_item}}</span><br /></span>
                        </p>
                      </a>
                    </div>
                  </div>
                  <p></p>
                </div>
              </div>
              <div class="message-content inboxbody" innerHTML="{{MailBody}}">

              </div>
            </div>

            <!--attach body-->

            <div class="file-attachted" *ngFor="let itemeach of empList">
              <div class="img-thumbnail img-attachment">
                <img src="../assets/images/{{itemeach.icon}}" />
                <span class="file-attachted-name">{{itemeach.filename}}</span>
                <span class="file-attachted-size"></span>
                <div class="doc_downlod_hovr">
                  <span class="mdi mdi-download" (click)='AttachmentDownloadClick(itemeach.filename);'></span>
                  <span class="mdi mdi-eye"></span>
                </div>
              </div>
            </div>


            <!--end-->
          </div>
        </div>
        <div class="mail-view  col-md-7 col-lg-8 bg-white mob-sentbox" style="display: none;">
          <div class="row">
            <div class="col-md-12 mb-4 mt-4 tab_tp_btm10">
              <div class="btn-toolbar">
                <div class="btn-group tab-mrgnbtm5">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-reply text-primary"></i>Reply</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-share text-primary"></i>Forward</button>
                </div>
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-delete text-primary"></i>Delete</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-keyboard-backspace text-primary"></i>Back</button>
                </div>
                <div class="inf_inbx">
                  <i class="mdi mdi-label"></i>
                  <span>
                    Sentbox
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="message-body">

            <div class="boxsent-Title">
              <p class="msg-subjectsent fw600">
                Weekly Update
              </p>
            </div>
            <div class="sender-details">
              <img class="img-sm rounded-circle mr-3" alt="" src="images/userprofile.png" />

              <div class="details tab_details_sendr">
                <p class="msg-date">
                  Nov 1, 2018, 8:41 PM
                </p>
                <p class="sender-email fw600">
                  Sarah Graves &nbsp<a href="#">itsmesarah268@gmail.com</a>
                </p>
                <p class="msg-sento">
                  <span>To</span>&nbsp Shane warne
                </p>
              </div>
            </div>
            <div class="message-content">
              <p>This week has been a great week and the team is right on schedule with the set deadline. The team has made great progress and achievements this week. At the current rate we will be able to deliver the product right on time and meet the quality that is expected of us. Attached are the seminar report held this week by our team and the final product design that needs your approval at the earliest.</p>
            </div>
            <div class="forwd_rply">
              <button type="button" class="btn btn-secondary"><i class="mdi mdi-reply text-dark"></i>Reply</button>
              <button type="button" class="btn btn-secondary"><i class="mdi mdi-forward text-dark"></i>Forward</button>
            </div>

          </div>
          <div class="mail-view col-md-7 col-lg-8 bg-white mob-outbox" style="display: none;">
            <div class="row">
              <div class="col-md-12 mb-4 mt-4">
                <div class="btn-toolbar">
                  <div class="inf_inbx">
                    <i class="mdi mdi-label"></i>
                    <span>
                      Outbox
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="message-body">
              <div class="boxsent-Title">
                <p class="msg-subjectsent fw600">
                  Team Task
                </p>
              </div>
              <div class="sender-details">
                <img class="img-sm rounded-circle mr-3" alt="" src="images/userprofile.png" />

                <div class="details tab_details_sendr">
                  <p class="msg-date">
                    Nov 2, 2018, 3:50 PM
                  </p>
                  <p class="sender-email fw600">
                    Sonty Johnes &nbsp<a href="#">Sontyjohnes21@gmail.com</a>
                  </p>
                  <p class="msg-sento">
                    <span>To</span>&nbsp Mark Luise
                  </p>
                </div>
              </div>
              <div class="message-content">
                <p>A new Task feed is sent to you by Naveen kumar Yadav for task titled tasknaveen. Please click view details to read the message. Attached are the seminar report held this week by our team and the final product design that needs your approval at the earliest.</p>
              </div>
              <div class="forwd_rply">
                <button type="button" class="btn btn-secondary"><i class="mdi mdi-send text-dark"></i>Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
