.Message_box {
  height: auto;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 25%;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
  text-align: left;
  overflow: hidden;
  margin-left: -225px;
  width: 450px;
  min-height: 150px;
  display: none;
}

.overlay_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1051;
  display: none;
}

.alert-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.msg_header {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
}

.bg-conf {
  background-color: rgba(56, 115, 177, 0.95);
}

.bg-warning {
  background-color: rgba(236, 154, 37, 0.95);
}

.bg-success {
  background-color: rgba(54, 148, 54, 0.95) !important;
}

.bg-error {
  background-color: rgba(208, 23, 19, 0.95);
}

.inner_alert {
  position: relative;
  overflow: hidden;
}

.icons-div {
  position: absolute;
  right: 2px;
  font-size: 110px;
  top: -30px;
  z-index: -1;
}

.wr-icon {
  color: #b56806;
}

.sc-icon {
  color: #057719;
}

.error-icon {
  color: #057719;
}

.msg_header h3 {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  display: inline-block;
}

.content_body {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  min-height: 50px;
  font-weight: 300;
  font-size: 16px;
}

  .content_body p {
    word-break: break-all;
  }

.footer_btn {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
/*gradaint Button*/

.btn-primary-p {
  background-repeat: repeat-x;
  border-color: #245580;
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.btn-danger-d {
  background-repeat: repeat-x;
  border-color: #b92c28 !important;
  background-image: linear-gradient(to bottom,#e48481 0,#b51410 100%);
}

.btn-success-s {
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
}

.btn-warning-w {
  background-repeat: repeat-x;
  border-color: #e38d13;
  background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
}

.btn-default-d {
  text-shadow: 0 1px 0 #fff;
  background-repeat: repeat-x;
  border-color: #ccc;
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}

@media (max-width:479px) and (min-width:320px) {
  .Message_box {
    width: 300px;
    margin-left: -150px;
  }

  .content_body {
    font-size: 14px;
  }

  .msg_header h3 {
    font-size: 20px;
  }
}
