<div class="box_loader" id="loader" style="display: none">
  <div style="bottom: 0; left: 0; overflow: hidden; position: absolute; right: 0; top: 0">
    <div style="animation: a-h .5s 1.25s 1 linear forwards,a-nt .6s 1.25s 1 cubic-bezier(0,0,.2,1); -webkit-animation: a-h .5s 1.25s 1 linear forwards,a-nt .6s 1.25s 1 cubic-bezier(0,0,.2,1); -moz-animation: a-h .5s 1.25s 1 linear forwards,a-nt .6s 1.25s 1 cubic-bezier(0,0,.2,1); background: #eee; border-radius: 50%; height: 800px; left: 50%; margin: -448px -400px 0; position: absolute; top: 50%; transform: scale(0); -webkit-transform: scale(0); -moz-transform: scale(0); width: 800px"></div>
  </div>
  <div style="height: 100%; text-align: center">
    <div style="height: 50%; margin: 0 0 -140px"></div>
    <div style="height: 128px; margin: 0 auto; position: relative; width: 176px">
      <div style="animation: a-s .5s .5s 1 linear forwards,a-e 1.75s .5s 1 cubic-bezier(0,0,.67,1) forwards; -moz-animation: a-s .5s .5s 1 linear forwards,a-e 1.75s .5s 1 cubic-bezier(0,0,.67,1) forwards; -webkit-animation: a-s .5s .5s 1 linear forwards,a-e 1.75s .5s 1 cubic-bezier(0,0,.67,1) forwards; opacity: 0; transform: scale(.68); -webki-transform: scale(.68); -moz-transform: scale(.68)">
        <div style="background: #ddd; border-radius: 12px; box-shadow: 0 15px 15px -15px rgba(0,0,0,.3); -webkit-box-shadow: 0 15px 15px -15px rgba(0,0,0,.3); -moz-box-shadow: 0 15px 15px -15px rgba(0,0,0,.3); height: 128px; left: 0; overflow: hidden; position: absolute; top: 0; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); width: 176px">
          <div style="animation: a-nt .667s 1.5s 1 cubic-bezier(.4,0,.2,1) forwards; background: #10c877; border-radius: 50%; height: 270px; left: 88px; margin: -135px; position: absolute; top: 25px; transform: scale(.5); width: 270px"></div>
          <div style="height: 128px; left: 20px; overflow: hidden; position: absolute; top: 0; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); width: 136px">
            <div style="background: #e1e1e1; height: 128px; left: 0; position: absolute; top: 0; width: 68px">
              <div style="animation: a-h .25s 1.25s 1 forwards; -webkit-animation: a-h .25s 1.25s 1 forwards; -moz-animation: a-h .25s 1.25s 1 forwards; background: #eee; height: 128px; left: 0; opacity: 1; position: absolute; top: 0; width: 68px"></div>
            </div>
            <div style="background: #eee; height: 100px; left: 1px; position: absolute; top: 56px; transform: scaleY(.73)rotate(135deg); -webkit-transform: scaleY(.73)rotate(135deg); -moz-transform: scaleY(.73)rotate(135deg); width: 200px"></div>
          </div>
          <div style="background: #bbb; height: 176px; left: 0; position: absolute; top: -100px; transform: scaleY(.73)rotate(135deg); -moz-transform: scaleY(.73)rotate(135deg); -webkit-transform: scaleY(.73)rotate(135deg); width: 176px">
            <div style="background: #eee; border-radius: 12px 12px 0 0; bottom: 117px; height: 12px; left: 55px; position: absolute; transform: rotate(-135deg)scaleY(1.37); -webkit-transform: rotate(-135deg)scaleY(1.37); -moz-transform: rotate(-135deg)scaleY(1.37); width: 136px"></div>
            <div style="background: #eee; height: 96px; position: absolute; right: 0; top: 0; width: 96px"></div>
            <div style="box-shadow: inset 0 0 10px #888; -webkit-box-shadow: inset 0 0 10px #888; -moz-box-shadow: inset 0 0 10px #888; height: 155px; position: absolute; right: 0; top: 0; width: 155px"></div>
          </div>
          <div style="animation: a-s .167s 1.283s 1 linear forwards,a-es 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; -webkit-animation: a-s .167s 1.283s 1 linear forwards,a-es 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; -moz-animation: a-s .167s 1.283s 1 linear forwards,a-es 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; background: linear-gradient(0,rgba(38,38,38,0),rgba(38,38,38,.2)); background: -webkit-linear-gradient(0,rgba(38,38,38,0),rgba(38,38,38,.2)); background: -moz-linear-gradient(0,rgba(38,38,38,0),rgba(38,38,38,.2)); height: 225px; left: 0; opacity: 0; position: absolute; top: 0; transform: rotate(-43deg); -webkit-transform: rotate(-43deg); -moz-transform: rotate(-43deg); transform-origin: 0 13px; -moz-transform-origin: 0 13px; -webkit-transform-origin: 0 13px; width: 176px"></div>
        </div>
        <div style="animation: a-ef 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; -moz-animation: a-ef 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; -webkit-animation: a-ef 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; border-radius: 12px; height: 100px; left: 0; overflow: hidden; position: absolute; top: 0; transform: scaleY(1); -webkit-transform: scaleY(1); -moz-transform: scaleY(1); transform-origin: top; -moz-transform-origin: top; -webkit-transform-origin: top; width: 176px">
          <div style="height: 176px; left: 0; position: absolute; top: -100px; transform: scaleY(.73)rotate(135deg); -webkit-transform: scaleY(.73)rotate(135deg); -moz-transform: scaleY(.73)rotate(135deg); width: 176px">
            <div style="animation: a-s .167s 1.283s 1 linear forwards; box-shadow: -5px 0 12px rgba(0,0,0,.5); -moz-box-shadow: -5px 0 12px rgba(0,0,0,.5); -webkit-box-shadow: -5px 0 12px rgba(0,0,0,.5); height: 176px; left: 0; opacity: 0; position: absolute; top: 0; width: 176px"></div>
            <div style="background: #ddd; height: 176px; left: 0; overflow: hidden; position: absolute; top: 0; width: 176px">
              <div style="animation: a-nt .667s 1.25s 1 cubic-bezier(.4,0,.2,1) forwards; -webkit-animation: a-nt .667s 1.25s 1 cubic-bezier(.4,0,.2,1) forwards; -moz-animation: a-nt .667s 1.25s 1 cubic-bezier(.4,0,.2,1) forwards; background: #10c877; border-radius: 50%; bottom: 41px; height: 225px; left: 41px; position: absolute; transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); width: 225px"></div>
              <div style="background: #f1f1f1; height: 128px; left: 24px; position: absolute; top: 24px; transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); width: 128px"></div>
              <div style="animation: a-efs 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; -moz-animation: a-efs 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; -webkit-animation: a-efs 1.184s 1.283s 1 cubic-bezier(.4,0,.2,1) forwards; background: #fff; height: 176px; opacity: 0; transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); width: 176px"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="nlpt"></div>
    <div style="animation: a-s .25s 1.25s 1 forwards; opacity: 0" class="msg">Loading&hellip;</div>
  </div>

</div>

<!--Loader for Submit-->
<div class="mainbox_submitloader" id="mainbox_submitloader">
  <div class="submitloader subbox_submtlodr">Loading...</div>
</div>
<!--End-->

<div class="overlay_bg" id="overall_lightbox">
  <!-- Success Box -->
  <div class="Message_box" id="success_msgpopup">
    <div class="inner_alert">
      <div class="icons-div sc-icon"><i class="fa fa-check-circle"></i></div>
      <div class="msg_header bg-success" style="border-bottom: 1px solid #177b0d;">
        <h3>Success</h3>
      </div>
      <div class="content_body bg-success" style="border-top: 1px solid #2aad2a;">
        <p>Recored Deleted Successfully</p>
      </div>
    </div>
    <div class="footer_btn">
      <button type="button" class="btn btn-success btn-success-s btn-sm popupClick">OK</button>
    </div>
  </div>

  <!-- Error Box -->
  <div class="Message_box" id="error_msgpopup">
    <div class="inner_alert">
      <div class="icons-div sc-icon"><i class="fa fa-exclamation-triangle"></i></div>
      <div class="msg_header bg-error" style="border-bottom: 1px solid #ad0000;">
        <h3>Error</h3>
      </div>
      <div class="content_body bg-error" style="border-top: 1px solid #e83a37;">
        <p>You have entered wrong email id and password</p>
      </div>
    </div>
    <div class="footer_btn">
      <button type="button" class="btn btn-danger btn-danger-d btn-sm popupClick">OK</button>
    </div>
  </div>

  <!-- Alert Box -->
  <div class="Message_box" id="info_msgpopup">
    <div class="inner_alert">
      <div class="icons-div wr-icon"><i class="fa fa-exclamation-triangle"></i></div>
      <div class="msg_header bg-warning" style="border-bottom: 1px solid #dc860c;">
        <h3>Alert</h3>
      </div>
      <div class="content_body bg-warning" style="border-top: 1px solid #f1aa47;">
        <p>Please select record to delete</p>
      </div>
    </div>
    <div class="footer_btn">
      <button type="button" class="btn btn-warning btn-warning-w btn-sm popupClick">OK</button>
    </div>
  </div>

  <!-- Confirmation Box -->
  <div class="Message_box" id="conf_msgpopup">
    <div class="inner_alert">
      <div class="icons-div conf-icon"><i class="fa fa-exclamation-circle"></i></div>
      <div class="msg_header bg-conf" style="border-bottom: 1px solid #2661a0;">
        <h3>Confirmation</h3>
      </div>
      <div class="content_body bg-conf" style="border-top: 1px solid #5586bb;">
        <p>Do you really want to delete this record</p>
      </div>
    </div>
    <div class="footer_btn">
      <button type="button" class="btn btn-primary btn-primary-p btn-sm popupClick">YES</button>
      <button type="button" class="btn btn-default btn-default-d btn-sm cancelClick">NO</button>
    </div>
  </div>

  <!-- Loader -->
  <div class="Message_box" id="conf_msgloader">
    <div class="inner_alert">
      <div class="icons-div sc-icon"><i class="fa fa-check-circle"></i></div>
      <div class="msg_header bg-success" style="border-bottom: 1px solid #4b8c39;">
        <h3 id="loader_heading">Loader Heading</h3>
      </div>
      <div class="content_body bg-success" style="border-top: 1px solid #70c358;">
        <p id="loader_message">Loading ... <i class="fa fa-spin fa-spinner"></i></p>
      </div>
    </div>
  </div>
</div>

<div>
  <app-header></app-header>
  <div class="email_cont">
    <div class="row">
      <div class="col-lg-12">
        <div class="content-wrapper px-3 pt-0 pb-0">
          <div class="email-wrapper wrapper">
            <div class="row align-items-stretch">
              <app-sidebar></app-sidebar>
              <!--<app-inboxmail style="width:100%"></app-inboxmail>-->
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobilebg" (click)="fn_mobilebgclick()"></div>

